.login-page{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(135deg, #667eea, #764ba2);
}

.login-card {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    width: 320px;
}

.login-card h2 {
    margin-bottom: 20px;
    color: #4f46e5;
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.login-card button {
    width: 100%;
    padding: 12px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.login-card button:hover {
    background: #3730a3;
}

.error {
    color: red;
    margin-bottom: 10px;
}